*target*

# IntelliJ config
*.iml
.idea/*
!.idea/codeStyles/
!.idea/copyright/
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/markdown-navigator/
!.idea/codeStyleSettings.xml
!.idea/dataSources.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/modules.xml
!.idea/workspace.xml
!.idea/encodings.xml
!.idea/markdown-navigator.xml
!.idea/sqldialects.xml
!.idea/vcs.xml
